    
		#mask{
            display:none;
            z-index: 29;
            background:rgba(255,255,255,0.9);
            width:100%;
            height:100%;
            position:fixed;//利用固定定位的好处：页面还可以上下翻动，但是始终处于灰色背景下
        }
		.denglu{
	width: 560px;
	height: 489px;
	padding:0 20px;
	background: rgba(51,204,153,0.9);
	position: absolute;
	display: none;
	top:50%;
	left:50%;
	margin-left: -280px;
	margin-top: -244.5px;
	z-index: 999;
	.zhanghu{
		width: 560px;
		height: 489px;
		h1{
			width: 560px;
			height: 64px;
			line-height: 64px;
			font-size: 24px;
			font-weight: normal;
			color:#fff;
			text-align: center;
			margin-bottom: 20px;
			border-bottom:1px solid rgba(255,255,255,0.6);
			position: relative;
			i{
				width: 16px;
				height: 16px;
				cursor: pointer;
				background: url(http://cfbassets.b0.upaiyun.com/assets/common/icon_login-baa5f16b8c91d25c4635149ffade72aa.png);
				display: inline-block;
				background-position: -2px -64px;
				position: absolute;
				top:24px;
				left:0;
			}
			a{
				position: absolute;
			    top: 0;
			    right: 0;
			    font-size: 16px;
			    color: white;
			}
		}
		input{
			width: 245px;
		    padding: 15px 35px 15px 0;
		    color: white;
		    border: none;
		    background: none;
		    font-size: 16px;
		    display:block;
		    margin: 0 auto;
		    border-bottom:1px solid rgba(255,255,255,0.6);
		}
		input::-webkit-input-placeholder{
			color:#b3ebd8;
		}
		.jizhu{
			color:#b3ebd8;
			width: 280px;
			height: 60px;
			margin:10px auto 0;
			font-size: 12px;
			overflow: hidden;
			span{
				width: 57px;
				height: 16px;		
				overflow: hidden;		
				input{
					width: 16px;
					float:left;
					display: inline;
				}
			}
			a{
				float: right;
			}
			p{
				margin: 10px;
			    text-align: center;
			    color: red;
			    display: none;
			}
		}
		button{
			color:#3c9;
			display: block;
			width: 278px;
			height: 46px;
			cursor: pointer;
			border-radius: 4px;
			border:none;
			background: #fff;
			margin:0 auto 60px;
			font-size: 16px;
		}
		.mode::after{
			content: '';
			clear:both;
			display: block; 
		}
		.mode{
			.wire{
				width: 200px;
				height: 1px;
				float:left;
				background: #fff;
			}
			.wire:last-child{
				float:right;
			}
			.else{
				font-size: 16px;
				color:#fff;
				margin-left:230px;
				line-height: 1px;
			}
		}
		.qita{
			height: 110px;
			text-align: center;
			a{
				display: inline-block;
				width: 64px;
				height: 64px;
				margin-top: 35px;
				border-radius:50%;
				border:1px solid #fff;
				margin-left: 40px;
				i{
					width: 32px;
					height: 30px;
					display:block;
					margin:17px auto;
					background: url(http://cfbassets.b0.upaiyun.com/assets/common/icon_login-baa5f16b8c91d25c4635149ffade72aa.png);
				}
			}
			.One i{
				background-position: -2px -2px;
			}
			.One:hover{
				background: #fff;
				i{
				background-position: -2px -34px;
				}
			}
			.Two i{
				background-position: -34px -2px;
			}
			.Two:hover{
				background: #fff;
				i{
				background-position: -34px -34px;
				}
			}
			.Three i{
				background-position: -66px -2px;
			}
			.Three:hover{
				background: #fff;
				i{
				background-position: -66px -34px;
				}
			}
			a:first-child{
				margin-left: 0px;
			}
		}
	}
}

.clearfix::after{
	display: block;
	clear: both;
	height: 0;
	content: '';
}
.left{
	float: left;
}
.right{
	float: right;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: red;
}
input:-moz-placeholder, textarea:-moz-placeholder {
  color: #fff;
}
#banner{
	background-image: url('http://cfbassets.b0.upaiyun.com/assets/v2/content1_bg-7cb3991281eedd065030e80f7ffd4634.jpg');
	// border:1px solid red;
	color:#fff;
	// height: 400px;
	header{

		width: 1220px;
        height: 120px;
       margin: 0 auto;
       border-bottom: 1px solid rgba(255,255,255,0.2);
       line-height: 120px;
       padding: 0 20px 0 20px;
       -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
        // box-sizing: border-box;
         border-bottom:1px solid #ccc;
        p{  
        	 font-size: 20px;
        	float: left;
        }
	}
	#imgLeft{
		float: left;
		background-image: url('http://cfbassets.b0.upaiyun.com/assets/v2/logo-fa8e729626160b3f139584380142d0e0.png
		');
		background-repeat: no-repeat;
		height: 70px;
		width: 130px;
		margin-top: 40px;
	}
	ul{
		float: left;
	    margin-left:50px;
	    font-size: 20px;
	}
	ul li {
        position: relative;
		float: left;
		padding:0 40px;
		div{
			 display: none;
			 line-height: 50px;
			position: absolute;
			// border:1px solid red;
			background: #fff;
			color: #000;
			top:100px;
			padding: 0;
			margin-top: 0;
			height:100px;
			left:10px;
			width: 100px;
			text-align: center;
			
		}
	}
	ul li:hover{
		cursor: pointer;
		div{
			display: block;
		}
	}
	input{
        padding: 5px 0 0 10px;
        // background: none;
        opacity: 0.5;
        // color: #fff;
		margin-left: 60px;
		border-style: none;
		height:40px;
		width: 300px;
	}
	a{
		margin-left: 170px;
		font-size: 20px;
		color: #fff;
	}
	#mid{
		padding: 180px 0 205px;
		text-align: center;
		
	}
}
#help{
	width: 100%;
}
.box{
	padding: 50px 0;
	// border:1px solid red;
	background-color: #FCFDFD;
	
	text-align: center;
	width: 50%;
	// float: left;
	display: inline-block;
    
	button{
		margin-top: 20px;
        width: 240px;
        height:80px;
        font-size: 30px;
        line-height: 50px;
        background-color: #33CC99;
        color: #fff;
	}
	
}
.box:first-child{
	background-color: #FBFBFA;
	// float: left;
	button:last-child{
		background-color:#CDAC65;
	}
}
#hot {
	width: 1180px;
	margin: 0 auto;
	white-space:nowrap; 
	// height:47px;
	overflow: hidden;
	ul{
		width: 3540px;
		// margin: 0 auto;
		 
		
		li{ 
			position: relative;
			float: left;
		
		}

	}
}
#black{
	position: absolute;
    border:1px solid red;
	height:100%;
	z-index: 2;
	background:#000;
	opacity: 0.5;
	display: none;
}
#btn{
	width: 220px;
	margin:10px auto;
	div{
		height:5px;
		width: 69px;
		border:1px solid red;
		float: left;
		margin-left: 2px;
		background: #ccc;
	}
}
#ins{
	// width: 80%;
	height:900px;
	margin:0 auto;
	padding-top: 0.1px;
	// border:1px solid red;
	background-image: url(http://cfbassets.b0.upaiyun.com/assets/v2/bg2-e150cef21f7e2b00e465e630dbe7c138.jpg);
    p>a{
      font-size: 20px;
      cursor: pointer;
      color: #fff;
      margin-left: 10px;
    }
    .nav{
			height:300px;width:350px;
			position: absolute;
		    margin-left: 600px;
		    margin-top: 300px;
		    display: none;
		    
	.zai{
		height: 40px;
		width: 40px;
		// border:1px solid red;
		background-color: #ccc;
		border-radius: 50%;
		margin-left: 30px;
	}			   

				    }
}
.route1{
		width: 1220px;
		height: 780px;
		// border:1px solid red;
		margin:0 auto;
		.route{
			box-sizing: border-box;
		    border-radius: 4px;
		    height: 214px;
		    position: relative;
		    color: white;
		    width: 380px;
		    float: left;
		    margin-left: 20px;
		    margin-bottom: 20px;
		    img{
		    	height: 100%;
			    width: 100%;
			    border-radius: 4px;
		    }
		    .wrap{
		    	width: 100%;
			    height: 100%;
			    position: absolute;
			    top: 0;
			    left: 0;
			    z-index: 2;
			    border-radius: 4px;
			    background: linear-gradient(to top, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 100%);
				display: table;

				.inner1{
					display: table-cell;
				    vertical-align: middle;
				    text-align: center;
				    color: white;
				    text-shadow: 0 1px 2px rgba(0,0,0,0.6);

					.type{
						width: 48px;
					    height: 24px;
					    display: inline-block;
					    text-align: center;
					    line-height: 24px;
					    background-color: rgba(255,255,255,0.2);
					    color: white;
					    font-size: 12px;
					    border-radius: 12px;
					    margin-bottom: 5px;
					}    
				    h2{
				    	font-size:24px;
					    width: 340px;
					    height: 31px;
					    overflow: hidden;
					    text-overflow: ellipsis;
					    white-space: nowrap;
					    margin-left: 20px;
				    }
				    p{
			    	    font-size: 12px;
					    margin-top: 8px;
					    overflow: hidden;
					    text-overflow: ellipsis;
					    white-space: nowrap;
					    width: 340px;
					    margin-left: 20px;
				    }
					.avatar{
					    width: 32px;
					    height: 32px;
					    display: inline-block;
					    margin-top: 12px;
					    border-radius: 50%;
					    img{
				    	    border-radius: 50%;
						    width: 100%;
						    height: 100%;
						    box-sizing: border-box;
						    border: 2px solid rgba(255,255,255,0.1);
					    }
					}
				}
		    }
		}
	}
.impression{
    width: 100%;
    background-color: #f0f3f5;
    padding-bottom: 50px;
    .impress{
    	width: 1220px;
    	height: 100px;
    	margin:0 auto;
    	text-align: center;
	    font-size: 40px;
	    color: #2d3a40;
	    line-height: 120px;
    }
    .Pinterest{
    	width: 1220px;
    	margin:0 auto;
    	.yinxiang{
    		display: block;
		    margin-top: 20px;
		    margin-left: 20px;
		    padding: 4px;
		    background-color: white;
		    -webkit-box-sizing: border-box;
		    -moz-box-sizing: border-box;
		    box-sizing: border-box;
		    -webkit-transition: all 0.3s ease-in;
		    transition: all 0.3s ease-in;
		    text-decoration: none;
    		.img-cnt{
	    		width: 100%;
	    		img{
	    			display: block;
				    width: 100%;
				    height: 100%;
	    		}
	    		p{
	    			position: relative;
				    z-index: 4;
				    width: 270px;
				    padding: 3px 14px 3px 0;
				    margin-top: -24px;
				    -webkit-box-sizing: border-box;
				    -moz-box-sizing: border-box;
				    box-sizing: border-box;
				    font-size: 12px;
				    text-align: right;
				    text-indent: 10px;
				    color: white;
				    text-shadow: 0 1px 1px rgba(255,255,255,0.1);
	    		}
	    	}
	    	.txt-cnt{
	    		position: relative;
			    padding: 16px;
			    background-color: white;
			    padding-bottom: 0;
			    .txt{
			    	font-size: 14px;
				    color: #333;
				    word-break: break-all;
				    overflow: hidden;
				    text-overflow: ellipsis;
				    display: -webkit-box;
				    -webkit-line-clamp: 3;
				    -webkit-box-orient: vertical;
			    }
	    	}
	    	.note-bottom{
	    		color: #ccc;
			    font-size: 14px;
			    padding-left: 16px;
			    padding-right: 16px;
			    height: 48px;
			    line-height: 48px;
			    .fl{
			    	float: left;
				    width: 50%;
				    text-overflow: ellipsis;
				    white-space: nowrap;
				    overflow: hidden;
				    i{
				    	background: url(http://cfbassets.b0.upaiyun.com/assets/journals/icon_journal@2x-774d0501e4fb2a0af4ac5945729f11cd.png) no-repeat center;
					    width: 20px;
					    height: 24px;
					    background-position: -192px 0;
					    display: inline-block;
					    vertical-align: middle;
				        transform: scale(0.7);
				    }
			    }
			    .fr{
			    	float: right;
				    width: 50%;
				    text-overflow: ellipsis;
				    white-space: nowrap;
				    overflow: hidden;
				    text-align: right;
			    }
	    	}
    	}
    	
    }
}
#masonry{
	ul{
		float:left;
		width: 24.57%;
		li{
			width: 100%;
		}
	}
}
#masonry::after{
	content: '';
	display: block;
	clear:both;
}

footer{
	height: 240px;
	width: 100%;
	background: url("../../images/1.jpg");
	
}
