.clearfix::after{
	display: block;
	clear: both;
	height: 0;
	content: '';
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: red;
}
input:-moz-placeholder, textarea:-moz-placeholder {
  color: red;
}
#banner{
	background-image: url('http://cfbassets.b0.upaiyun.com/assets/v2/content1_bg-7cb3991281eedd065030e80f7ffd4634.jpg');
	// border:1px solid red;
	color:#fff;
	// height: 400px;
	header{

		width: 1220px;
        height: 120px;
       margin: 0 auto;
       border-bottom: 1px solid rgba(255,255,255,0.2);
       line-height: 120px;
       padding: 0 20px 0 20px;
       -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
        // box-sizing: border-box;
         border-bottom:1px solid #ccc;
        p{  
        	 font-size: 20px;
        	float: left;
        }
	}
	#imgLeft{
		float: left;
		background-image: url('http://cfbassets.b0.upaiyun.com/assets/v2/logo-fa8e729626160b3f139584380142d0e0.png
		');
		background-repeat: no-repeat;
		height: 70px;
		width: 130px;
		margin-top: 40px;
	}
	ul{
		float: left;
	    margin-left:50px;
	    font-size: 20px;
	}
	ul li {
        position: relative;
		float: left;
		padding:0 40px;
		div{
			 display: none;
			 line-height: 50px;
			position: absolute;
			// border:1px solid red;
			background: #fff;
			color: #000;
			top:100px;
			padding: 0;
			margin-top: 0;
			height:100px;
			left:10px;
			width: 100px;
			text-align: center;
			
		}
	}
	ul li:hover{
		cursor: pointer;
		div{
			display: block;
		}
	}
	input{
        padding: 5px 0 0 10px;
        // background: none;
        opacity: 0.5;
        // color: #fff;
		margin-left: 60px;
		border-style: none;
		height:40px;
		width: 300px;
	}
	a{
		margin-left: 170px;
		font-size: 20px;
		color: #fff;
	}
	#mid{
		padding: 180px 0 205px;
		text-align: center;
		
	}
}
#help{
	width: 100%;
}
.box{
	padding: 50px 0;
	// border:1px solid red;
	background-color: #FCFDFD;
	
	text-align: center;
	width: 50%;
	// float: left;
	display: inline-block;
    
	button{
		margin-top: 20px;
        width: 240px;
        height:80px;
        font-size: 30px;
        line-height: 50px;
        background-color: #33CC99;
        color: #fff;
	}
	
}
.box:first-child{
	background-color: #FBFBFA;
	// float: left;
	button:last-child{
		background-color:#CDAC65;
	}
}
#hot {
	ul{
		width: 80%;
		border:1px solid red;
		margin: 0 auto;
		li{ position: relative;
			float: left;
			div{
				position: absolute;
				border:1px solid red;
				height:100%;
				width: 100%;
				top:0px;
				z-index: 2;
				background-color:rgba(0,0,0.5);
			}
		}

	}
}